<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="flex-direction: column; display: flex; width: 100vw; height: 100vh; align-items: center; justify-content: center;">
    <h1>Student Details</h1>
    <div style="gap: 1rem; display: flex; align-items:center; font-size: larger;">
        <span style="font-weight: bold;">Department : </span><p> {{Department}}</p>
    </div>
    <div style=" gap: 1rem; display: flex; align-items:center; font-size: larger;">
        <span style="font-weight: bold;">Name : </span><p> {{Name}}</p>
    </div>
    <div style="gap: 1rem; display: flex; align-items:center; font-size: larger;">
        <span style="font-weight: bold;">RollNo : </span><p> {{RollNo}}</p>
    </div>
    
    
</body>
</html>